<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="login.css" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="login.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <a href="https://de.wikipedia.org/wiki/Fr%C3%BChst%C3%BCck_bei_Tiffany_(Film)">
          <img src="./images/audrey.jpeg" alt="Logo">
        </a>
        <h2>Login Dianas Webapp</h2>
      </div>
      <form id="loginForm">
        <div>
          <label for="username">Benutzername:</label>
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Benutzername"
            required
          />
        </div>
        <div>
          <label for="password">Passwort:</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Passwort"
            required
          />
        </div>

        <div>
          <button id="loginButton" type="submit">Login</button>
        </div>
      </form>
        
        <div class="register-link">
          <a href="/register">Zur Registrierung</a>
        </div>

        
          
          <% if (typeof error !== 'undefined') { %>
            <p id="errorbox"><%= error %></p>
            <% } %>
        
            <p style="display:none;" id="errorbox"></p>
    </div>
  </body>
</html>
